@import "tailwindcss";

@layer base {
    body {
        @apply p-0 font-sans;
    }
}

nav {
    display: flex;
    gap: 0.75rem;
    background-color: rgb(250, 245, 232);
}

a {
    padding: 1rem;
    font-size: 1.5rem;
}

.home {
    margin: 2rem;
}

.left-nav {
    margin-left: auto;
    padding: 1rem;
    font-size: 1.5rem;
}